# Lab 3

# Introduction to NumPy

In this lab, you'll be working through Chapter 2 to get an introduction to the numerical computing package for Python, NumPy. This notebook is made up of two sections.

- Section 1: Work through the code samples in Chapter 2
- Section 2: Exercises

# Section 1: Code Practice

In this section, you will be reading through the various chapter sections and typing out/running the code samples given in the sections. The purpose of this is for you to practice using Jupyter to run Python code as well as learn about the functionality available to you in both IPython and Jupyter.

##### Executing code in Jupyter

When typing and executing code in Jupyter, it is helpful to know the various keyboard shortcuts. You can find the full list of these by clicking **Help &rarr; Keyboard Shortcuts** in the menu. However, the two most useful keyboard shortcuts are:

- `Shift-Enter`: Execute the current cell and advance to the next cell. This will create one if none exists, but if a cell exists below your current cell, a new cell will **not** be created.
- `Alt-Enter`: Execute the current cell and **create** a new cell below.
- `Control-Enter`: Execute the current cell without advancing to the next cell

When writing your code, you will be using these two commands to make sure input/output (`In`/`Out`) is consistent with what is found in the chapter. If you create a cell by mistake, you can always go to **Edit &rarr; Delete Cells** to remove it.

#### Purpose of Section 1

Your purpose in this section is 

- **Type out** the code examples from the chapter (do not copy and paste)
- **Run** them
- **Check** to **make sure** you are getting the same results as what is contained in the chapter

---

## Computation on Arrays: Broadcasting

[Chapter/Section link](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/02.05-Computation-on-arrays-broadcasting.ipynb)

### Introducing Broadcasting

### Rules of Broadcasting

#### Broadcasting example 1

#### Broadcasting example 2

#### Broadcasting example 3

### Broadcasting in Practice

#### Centering an array

#### Plotting a two-dimensional function

## Comparisons, Masks, and Boolean Logic

[Chapter/section link](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/02.06-Boolean-Arrays-and-Masks.ipynb)

### Example: Counting Rainy Days

In [7]:
import pandas as pd
import numpy as np

In [8]:
def array_from_file(filename, column):

    data = pd.read_csv(filename)
    return np.array(data[column])

rainfall = array_from_file('Seattle2014.csv', 'PRCP')

Start the next cell at `inches = rainfall / 254.0`

In [9]:
rainfall_inches = rainfall / 25.4
rainy_days = np.sum(rainfall_inches > 0.1)

In [10]:
print(f"Number of rainy days: {rainy_days}")

Number of rainy days: 150

### Comparison Operators as UFuncs

In [11]:
rainfall_inches = rainfall / 25.4

In [12]:
rainy_days_bool = rainfall_inches > 0.1

In [13]:
rainy_days = np.sum(rainy_days_bool)

In [14]:
tmax = array_from_file('Seattle2014.csv', 'TMAX')

In [15]:
hotdaysbool = tmax > 100

In [16]:
hotdays = np.sum(hotdaysbool)

In [17]:
print(f"Number of days with temperature above 100째F: {hotdays}")

Number of days with temperature above 100째F: 297

### Working with Boolean Arrays

In [19]:
tmaxf = tmax * 0.1 * 9/5 + 32
rainydaysbool = rainfall > 0
colddaysbool = tmaxf < 32
rainyandcolddaysbool = rainydaysbool & colddaysbool
rainyandcolddays = np.sum(rainyandcolddaysbool)

In [27]:
data = pd.read_csv('Seattle2014.csv')
dates = data['DATE'][rainyandcolddaysbool]
print(f"Number of days with rain and freezing temperatures: {rainyandcolddays}")
print("Dates with rain and freezing temperatures:")
print(dates.info())

Number of days with rain and freezing temperatures: 0
Dates with rain and freezing temperatures:
<class 'pandas.core.series.Series'>
Int64Index: 0 entries
Series name: DATE
Non-Null Count  Dtype
--------------  -----
0 non-null      int64
dtypes: int64(1)
memory usage: 0.0 bytes
None

#### Couting entries

In [28]:
tmaxf = tmax * 0.1 * 9/5 + 32

noprecipitationbool = rainfall == 0
warmdaysbool = tmaxf > 75

noprecipitationandwarmdaysbool = noprecipitationbool & warmdaysbool

In [29]:
countnoprecipitationandwarmdays = np.sum(noprecipitationandwarmdaysbool)

In [30]:
print(f"Number of days with no precipitation and temperatures above 75째F: {countnoprecipitationandwarmdays}")

Number of days with no precipitation and temperatures above 75째F: 74

### Aside: Using the Keywords `and`/`or` Versus the Operators `&`/`|`

In [31]:
a = np.array([True, False, True, False])
b = np.array([True, True, False, False])

In [35]:
a & b

array([ True, False, False, False])

In [36]:
a | b

array([ True,  True,  True, False])

In [33]:
np.logical_and(a, b)

array([ True, False, False, False])

In [34]:
np.logical_or(a, b)

array([ True,  True,  True, False])

## Fancy Indexing

[Chapter/section link](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/02.07-Fancy-Indexing.ipynb)

### Exploring Fancy Indexing

In [37]:
arr = np.array([10, 20, 30, 40, 50])

In [38]:
indices = np.array([1, 3, 4])

In [39]:
selectedelements = arr[indices]

In [40]:
print(arr)

[10 20 30 40 50]

In [41]:
print(indices)

[1 3 4]

In [43]:
print(selectedelements)

[20 40 50]

### Combined Indexing

In [63]:
arr = np.array([[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90]])

In [64]:
row_indices = np.array([0, 2])
column_slice = slice(1, 3)

In [65]:
selected_elements = arr[row_indices, column_slice]

In [66]:
print(arr)

[[10 20 30]
 [40 50 60]
 [70 80 90]]

In [67]:
print(row_indices)

[0 2]

In [68]:
print(column_slice)

slice(1, 3, None)

In [69]:
print(selected_elements)

[[20 30]
 [80 90]]

### Example: Selecting Random Points

In [79]:
arr = np.array([1, 2, 3, 4, 50, 6, 70, 80, 9, 100000])

In [80]:
points = 5

In [81]:
random_indices = np.random.choice(arr.size, size=points, replace=False)

In [82]:
random_points = arr[random_indices]

In [83]:
print(random_indices)

[5 9 8 0 6]

In [84]:
print(random_points)

[     6 100000      9      1     70]

### Modifying Values with Fancy Indexing

In [85]:
indices = np.array([2, 5, 7])

In [86]:
new_values = np.array([300, 600, 800])

In [87]:
arr[indices] = new_values

In [88]:
arr

array([     1,      2,    300,      4,     50,    600,     70,    800,
            9, 100000])

### Example: Binning Data

In [90]:
data = np.array([1.5, 2.2, 3.8, 4.1, 5.5, 6.2, 7.0])

In [91]:
bins = np.array([1, 3, 5, 7])

In [92]:
bin_indices = np.digitize(data, bins)

In [93]:
bins

array([1, 3, 5, 7])

In [94]:
for i, index in enumerate(bin_indices):
    print(f"point {data[i]} goes into bin {index}")

point 1.5 goes into bin 1
point 2.2 goes into bin 1
point 3.8 goes into bin 2
point 4.1 goes into bin 2
point 5.5 goes into bin 3
point 6.2 goes into bin 3
point 7.0 goes into bin 4

## Sorting Arrays

[Chapter/section link](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/02.08-Sorting.ipynb)

In [102]:
def bubblesort(arr: np.array) -> np.array:
    n = len(arr)
    for i in range(n):
        swapped = False
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
                swapped = True
        if not swapped:
            break
    return arr

In [103]:
np.random.seed(0)
array = np.random.randint(0, 100000, size=10000)

In [104]:
arraylist = array.tolist()

In [105]:
arraylist

[68268,
 43567,
 42613,
 45891,
 21243,
 95939,
 97639,
 41993,
 86293,
 55026,
 80471,
 80966,
 48600,
 39512,
 52620,
 80186,
 17089,
 32230,
 18983,
 89688,
 82457,
 93005,
 6921,
 38804,
 67699,
 70608,
 37619,
 7877,
 83966,
 1871,
 73135,
 2496,
 47954,
 24675,
 31921,
 99059,
 797,
 49811,
 68755,
 80782,
 90535,
 81857,
 52489,
 84665,
 41504,
 49866,
 84212,
 96766,
 11723,
 43890,
 17591,
 58146,
 92288,
 59300,
 89141,
 71557,
 20006,
 3560,
 90868,
 61713,
 96591,
 45444,
 46522,
 86904,
 20737,
 28647,
 61353,
 92217,
 80163,
 12134,
 60535,
 47883,
 86107,
 63360,
 51811,
 9781,
 19340,
 27257,
 16298,
 12372,
 4420,
 82991,
 62079,
 79860,
 7012,
 9396,
 3918,
 9359,
 44259,
 23482,
 15127,
 37237,
 79701,
 8752,
 80041,
 71331,
 50624,
 89183,
 40133,
 93790,
 55153,
 62756,
 90928,
 81757,
 84355,
 99938,
 48682,
 66509,
 86384,
 75751,
 76693,
 24777,
 13824,
 2418,
 12843,
 78778,
 36223,
 61570,
 6521,
 88162,
 56894,
 74659,
 96990,
 14254,
 51939,
 89236,
 37073,
 23310,
 31785,
 64570,
 80577,
 56356,
 23306,
 36950,
 78696,
 92171,
 98611,
 78928,
 79904,
 70838,
 33920,
 88870,
 92648,
 79128,
 90749,
 33538,
 81411,
 8286,
 18728,
 13640,
 68627,
 45663,
 3912,
 50586,
 72130,
 21752,
 59715,
 89068,
 7997,
 53006,
 40800,
 15620,
 70381,
 92299,
 54268,
 69069,
 68473,
 91757,
 42512,
 19608,
 70557,
 92309,
 99438,
 17340,
 1913,
 52086,
 13429,
 13907,
 35489,
 10088,
 15588,
 38395,
 60155,
 38214,
 469,
 43295,
 74253,
 34488,
 38040,
 16975,
 15912,
 28086,
 82127,
 15115,
 79983,
 52573,
 94201,
 64223,
 11052,
 15741,
 57368,
 94275,
 43986,
 5103,
 35050,
 1740,
 55270,
 12579,
 71382,
 47805,
 20165,
 2775,
 84523,
 30752,
 89099,
 79464,
 71892,
 33930,
 46774,
 28651,
 62885,
 15997,
 65180,
 98927,
 97768,
 74498,
 63003,
 85971,
 34009,
 43671,
 69939,
 17582,
 29844,
 84917,
 38429,
 81475,
 76323,
 82727,
 60809,
 2121,
 45353,
 89987,
 3886,
 41690,
 87986,
 80748,
 75523,
 82119,
 99751,
 5181,
 43349,
 76578,
 42914,
 70744,
 71713,
 63720,
 70399,
 47394,
 73925,
 894,
 63413,
 48208,
 30142,
 32904,
 26813,
 39041,
 59601,
 91504,
 79224,
 68955,
 82088,
 6004,
 35620,
 42521,
 86339,
 57191,
 57852,
 80675,
 22302,
 87069,
 83697,
 52513,
 54545,
 80212,
 20989,
 2562,
 22597,
 25484,
 78709,
 92925,
 46402,
 93807,
 11605,
 98727,
 65483,
 93846,
 61073,
 99271,
 22571,
 54355,
 33201,
 78633,
 88157,
 83349,
 44889,
 84466,
 96736,
 79835,
 82249,
 85532,
 16363,
 24785,
 55913,
 63418,
 36736,
 90070,
 97855,
 66576,
 71786,
 57508,
 90718,
 7704,
 72308,
 42179,
 25907,
 45192,
 9144,
 27741,
 62551,
 2195,
 4680,
 55751,
 25687,
 52237,
 97594,
 38008,
 10100,
 60343,
 80704,
 43723,
 99036,
 54180,
 57625,
 45856,
 89514,
 77582,
 20950,
 9500,
 98258,
 52548,
 46614,
 23418,
 49747,
 33415,
 12232,
 16957,
 57600,
 27784,
 44239,
 98229,
 39335,
 37212,
 52141,
 62746,
 33354,
 79668,
 54254,
 7601,
 27867,
 11059,
 66275,
 95081,
 21266,
 93557,
 5410,
 48691,
 48798,
 82357,
 69434,
 94123,
 18231,
 9724,
 23314,
 66477,
 27479,
 25025,
 11590,
 54762,
 76853,
 74544,
 31838,
 18491,
 14672,
 91802,
 95868,
 86179,
 11834,
 82865,
 62570,
 73929,
 56620,
 83725,
 47993,
 67398,
 66439,
 95952,
 15352,
 64022,
 90616,
 89935,
 14297,
 5896,
 12003,
 73478,
 23761,
 42439,
 81858,
 95804,
 52280,
 36589,
 84631,
 8472,
 66564,
 35428,
 62444,
 67889,
 92503,
 87582,
 7734,
 90265,
 28436,
 23905,
 26981,
 76473,
 45463,
 97691,
 66589,
 19361,
 21875,
 36661,
 2679,
 76723,
 70486,
 31222,
 68201,
 84977,
 30857,
 39606,
 851,
 5028,
 20177,
 89236,
 39920,
 90238,
 55082,
 74305,
 22036,
 99108,
 38212,
 82032,
 34735,
 82570,
 1384,
 79403,
 65599,
 69524,
 51654,
 62729,
 52668,
 19055,
 46499,
 91980,
 87314,
 36209,
 8010,
 59618,
 79073,
 51115,
 71299,
 19340,
 72932,
 53121,
 14705,
 56448,
 86823,
 25274,
 82212,
 31075,
 53251,
 70882,
 23417,
 96700,
 13729,
 23836,
 56132,
 69658,
 66272,
 26872,
 83891,
 11465,
 79285,
 99975,
 33374,
 18504,
 45302,
 58503,
 15835,
 7788,
 52547,
 24404,
 26951,
 90707,
 38111,
 67840,
 11909,
 99435,
 97182,
 14281,
 18387,
 60935,
 60565,
 89564,
 13704,
 50859,
 9774,
 73728,
 73064,
 98995,
 93258,
 18931,
 92898,
 68219,
 24919,
 80992,
 72531,
 28954,
 71712,
 93299,
 39366,
 5985,
 37292,
 99131,
 75577,
 55986,
 10413,
 30441,
 68740,
 60857,
 93,
 79249,
 35235,
 36546,
 65940,
 5037,
 25785,
 46031,
 65911,
 81572,
 76478,
 97796,
 16881,
 56818,
 23757,
 9630,
 95597,
 96087,
 70051,
 68826,
 34330,
 62838,
 95254,
 25036,
 96975,
 64866,
 28250,
 97254,
 16080,
 58812,
 56111,
 70272,
 3466,
 20427,
 70238,
 38406,
 40621,
 48373,
 71070,
 47273,
 39078,
 2987,
 21074,
 28039,
 68828,
 38569,
 11100,
 41294,
 90853,
 25819,
 97526,
 8292,
 75997,
 40444,
 90286,
 90717,
 73330,
 20129,
 37644,
 85728,
 42729,
 41808,
 87496,
 95219,
 2173,
 74890,
 86640,
 6874,
 83099,
 90808,
 89208,
 61761,
 84416,
 2757,
 12120,
 23842,
 69583,
 83971,
 52462,
 73381,
 43864,
 65094,
 73364,
 91014,
 21107,
 4930,
 49756,
 57308,
 90981,
 85371,
 20165,
 78957,
 100,
 53942,
 74573,
 6037,
 54779,
 25247,
 52817,
 24813,
 48371,
 47354,
 96648,
 56062,
 81941,
 22957,
 38870,
 90512,
 29849,
 68727,
 42661,
 40831,
 39308,
 3418,
 74314,
 31739,
 54198,
 41790,
 96455,
 85125,
 21674,
 71818,
 1337,
 36315,
 13657,
 82307,
 5245,
 27342,
 3922,
 1221,
 46778,
 1924,
 56337,
 8901,
 41407,
 49502,
 74392,
 20099,
 94533,
 74152,
 37028,
 3511,
 76440,
 66209,
 34706,
 45518,
 25329,
 72839,
 29419,
 97268,
 43647,
 31649,
 54429,
 93708,
 61046,
 42798,
 60278,
 28960,
 40738,
 71255,
 27260,
 94617,
 27822,
 10738,
 32308,
 12910,
 38464,
 3404,
 61302,
 10825,
 37010,
 50951,
 35459,
 27724,
 71973,
 12404,
 42477,
 75312,
 39021,
 10194,
 75955,
 43569,
 44465,
 85998,
 8266,
 97876,
 88554,
 38775,
 69140,
 68816,
 5162,
 38386,
 34202,
 36020,
 6448,
 47042,
 26214,
 25353,
 7426,
 11636,
 95977,
 90997,
 612,
 69722,
 91204,
 57961,
 42506,
 86028,
 54888,
 43233,
 27045,
 20647,
 9120,
 58746,
 74650,
 65635,
 56537,
 67890,
 55060,
 45790,
 65180,
 1608,
 54546,
 30105,
 91032,
 73255,
 11498,
 79483,
 30360,
 11922,
 65219,
 48851,
 59693,
 81920,
 59530,
 63366,
 46947,
 43449,
 52115,
 58530,
 2098,
 37734,
 67604,
 72363,
 12918,
 38372,
 22893,
 77929,
 40642,
 89740,
 85110,
 14881,
 92311,
 36741,
 31782,
 61185,
 65802,
 44038,
 98173,
 70918,
 41574,
 94118,
 45387,
 62834,
 93566,
 84338,
 88754,
 98099,
 27906,
 73036,
 8819,
 91080,
 4485,
 88692,
 57525,
 35051,
 65323,
 96847,
 11326,
 26956,
 47663,
 88652,
 95893,
 49272,
 79634,
 47449,
 90637,
 36444,
 53484,
 75881,
 11477,
 44550,
 85552,
 26152,
 72862,
 7557,
 77285,
 44069,
 97851,
 81521,
 12383,
 47456,
 35312,
 47312,
 71968,
 32830,
 27018,
 59788,
 30301,
 81728,
 95645,
 67559,
 73878,
 18821,
 35620,
 29267,
 49279,
 99812,
 15708,
 44785,
 91219,
 34790,
 25735,
 85172,
 592,
 88477,
 82944,
 20183,
 96975,
 65354,
 65276,
 37437,
 11408,
 10096,
 42441,
 32884,
 58085,
 40703,
 99128,
 62782,
 88624,
 21649,
 59253,
 36361,
 45548,
 54462,
 26703,
 56526,
 24993,
 59268,
 27536,
 35044,
 67399,
 56638,
 65371,
 73735,
 39421,
 41750,
 34658,
 92318,
 59126,
 99920,
 58523,
 15919,
 53743,
 33394,
 14859,
 55255,
 77799,
 25374,
 67674,
 31010,
 92726,
 91985,
 23203,
 39789,
 12912,
 37285,
 29764,
 74165,
 27661,
 55397,
 29459,
 44296,
 7008,
 18129,
 29893,
 27004,
 73828,
 66945,
 99069,
 87197,
 70533,
 24528,
 53478,
 45560,
 71592,
 68246,
 85022,
 14591,
 23059,
 42756,
 72554,
 84554,
 32891,
 31958,
 39228,
 60133,
 95482,
 18013,
 29353,
 71208,
 59580,
 9425,
 29363,
 34088,
 9694,
 40542,
 44709,
 53630,
 97552,
 7011,
 56487,
 40605,
 57852,
 19521,
 16151,
 34176,
 99415,
 21871,
 92607,
 27034,
 53977,
 79193,
 47320,
 50679,
 59855,
 91237,
 83241,
 59281,
 36720,
 83054,
 52677,
 2963,
 88815,
 46870,
 60781,
 40843,
 15265,
 24455,
 26743,
 69914,
 ...]

In [106]:
sorted_array_list = bubblesort(arraylist)
sorted_array = np.array(sorted_array_list)

In [108]:
sorted_array

array([   10,    13,    21, ..., 99965, 99975, 99980])

### Fast Sorting in NumPy: `np.sort` and `np.argsort`

In [109]:
np.sort(array)

array([   10,    13,    21, ..., 99965, 99975, 99980])

In [110]:
np.argsort(array)

array([3601, 5385, 8897, ..., 9718,  501, 5468])

#### Sorting along rows or columns

In [117]:
array = np.array([[9, 3, 1],
                     [4, 2, 7],
                     [8, 6, 5]])

In [118]:
print(array)

[[9 3 1]
 [4 2 7]
 [8 6 5]]

In [119]:
rows = np.sort(array, axis=1)

In [120]:
print(rows)

[[1 3 9]
 [2 4 7]
 [5 6 8]]

In [121]:
columns = np.sort(array, axis=0)

In [122]:
print(columns)

[[4 2 1]
 [8 3 5]
 [9 6 7]]

### Partial Sorts: Partitioning

In [141]:
array = np.random.randint(0, 100, size=20)
k = 3

In [142]:
partitionedarr = np.partition(array, k)

In [143]:
np.sort(partitionedarr[:k])

array([3, 6, 7])

In [144]:
smallest_elements = np.sort(partitionedarr[:k])

In [145]:
smallest_elements

array([3, 6, 7])

### Example: k-Nearest Neighbors

In [146]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [147]:
iris = load_iris()
X = iris.data  
y = iris.target

In [148]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3, random_state=0)

In [149]:
k = 3

In [150]:
knn = KNeighborsClassifier(n_neighbors=k)

In [151]:
knn.fit(Xtrain, ytrain)

KNeighborsClassifier(n_neighbors=3)

In [152]:
ypred = knn.predict(Xtest)

In [153]:
accuracy = accuracy_score(ytest, ypred)

In [154]:
print(f"Predicted labels for the test set: {ypred}")

Predicted labels for the test set: [2 1 0 2 0 2 0 1 1 1 2 1 1 1 1 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0 2 1 0 2 2 1 0
 2 1 1 2 0 2 0 0]

In [155]:
print(f"True labels for the test set: {ytest}")

True labels for the test set: [2 1 0 2 0 2 0 1 1 1 2 1 1 1 1 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0 2 1 0 2 2 1 0
 1 1 1 2 0 2 0 0]

In [156]:
print(f"Accuracy of the k-NN classifier with k={k}: {accuracy:.2f}")

Accuracy of the k-NN classifier with k=3: 0.98

## Structured Data: NumPy's Structured Arrays

[Chapter/section link](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/02.09-Structured-Data-NumPy.ipynb)

In [157]:
dtype = [('name', 'U10'), ('age', 'i4'), ('height', 'f4')]

In [158]:
data = [('Alice', 30, 5.5), ('Bob', 25, 5.8), ('Charlie', 35, 5.9)]

In [159]:
structured_array = np.array(data, dtype=dtype)

In [160]:
structured_array

array([('Alice', 30, 5.5), ('Bob', 25, 5.8), ('Charlie', 35, 5.9)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f4')])

In [ ]:
"""https://numpy.org/doc/stable/user/basics.rec.html
was used for this part, they have example lists int heir documentation
that I used for this part"""

### More Advanced Compound Types

In [171]:
nested_dtype = [('score', 'f4'), ('subject', 'U10')]
compound_dtype = [('name', 'U10'), 
                  ('age', 'i4'), 
                  ('grades', nested_dtype), 
                  ('hobbies', 'O')]

In [172]:
compound_dtype = [('name', 'U10'), 
                  ('age', 'i4'), 
                  ('grades', nested_dtype), 
                  ('hobbies', 'O')]

In [173]:
data = [
    ('Alice', 30, [('Math', 95.0), ('English', 88.5)], ['Reading', 'Swimming']),
    ('Bob', 25, [('Math', 78.0), ('English', 82.0)], ['Cycling', 'Hiking']),
    ('Charlie', 35, [('Math', 89.0), ('English', 92.0)], ['Photography', 'Traveling'])
]

In [175]:
advanced_structured_array = np.empty(len(data), dtype=compound_dtype)

In [176]:
print(advanced_structured_array)

[('', 0, (0., ''), None) ('', 0, (0., ''), None) ('', 0, (0., ''), None)]

### RecordArrays: Structured Arrays with a Twist

In [181]:
grades_dtype = [('subject', 'U10'), ('score', 'f4')]

In [189]:
student_dtype = [('name', 'U10'), 
                 ('age', 'i4'), 
                 ('grades', grades_dtype), 
                 ('enrolled', 'b')]

In [190]:
data = [
    ('Alice', 30, [('Math', 95.0), ('English', 88.5)], True),
    ('Bob', 25, [('Math', 78.0), ('English', 82.0)], False),
    ('Charlie', 35, [('Math', 89.0), ('English', 92.0)], True)
]

In [191]:
structured_array = np.empty(3, dtype=student_dtype)

In [192]:
structured_array

array([('', 0, ('', 0.), 0), ('', 0, ('', 0.), 0), ('', 0, ('', 0.), 0)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('grades', [('subject', '<U10'), ('score', '<f4')]), ('enrolled', 'i1')])

In [ ]:
"""https://numpy.org/doc/stable/user/basics.rec.html
was used for this part, they have example lists int heir documentation
that I used for this part"""

---

# Section 2: Exercises

In this section, you will be provided a few exercises to demonstrate your understanding of the chapter contents. Each exercise will have a Markdown section describing the problem, and you will provide cells below the description with code, comments and visual demonstrations of your solution.

---

### Problem 1

Make sure you have the `array_from_url` function defined:

```python
def array_from_url(url, column):
    import pandas as pd
    import numpy as np
    data = pd.read_csv(url)
    return np.array(data[column])
```

Using the `array_from_url` function, load the following two data sets into memory using the variable names provided:

- variable: `areas`
    - URL: `"https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv"`
    - column: `"area (sq. mi)"`
- variable: `populations`
    - URL: `"https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/state-population.csv"`
    - column: `"population"`

Compute a new variable: `pop_density` containing the population density of each of the states (plus D.C. and Puerto Rico). Population density is defined as the population divided by the area.

Use this NumPy array to answer the following questions.

- Which state has the highest population density and what is it?
- Which territory has the highest population density and what is it?
- What is the mean population density of just the United States in 2012?
- What is the mean population density of the United States and territories in 2012?

In [227]:
url = "https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv"
df_area = pd.read_csv(url)

In [228]:
state_abbreviations = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA',
    'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT',
    'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM',
    'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 
    'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY',
    'District of Columbia': 'DC', 'Puerto Rico': 'PR'
}

In [229]:
df_area['state'] = df_area['state'].map(state_abbreviations)

In [230]:
print(df_area)

   state  area (sq. mi)
0     AL          52423
1     AK         656425
2     AZ         114006
3     AR          53182
4     CA         163707
5     CO         104100
6     CT           5544
7     DE           1954
8     FL          65758
9     GA          59441
10    HI          10932
11    ID          83574
12    IL          57918
13    IN          36420
14    IA          56276
15    KS          82282
16    KY          40411
17    LA          51843
18    ME          35387
19    MD          12407
20    MA          10555
21    MI          96810
22    MN          86943
23    MS          48434
24    MO          69709
25    MT         147046
26    NE          77358
27    NV         110567
28    NH           9351
29    NJ           8722
30    NM         121593
31    NY          54475
32    NC          53821
33    ND          70704
34    OH          44828
35    OK          69903
36    OR          98386
37    PA          46058
38    RI           1545
39    SC          32007
40    SD          77121
41    TN          42146
42    TX         268601
43    UT          84904
44    VT           9615
45    VA          42769
46    WA          71303
47    WV          24231
48    WI          65503
49    WY          97818
50    DC             68
51    PR           3515

In [231]:
url = "https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/state-population.csv"
df_population = pd.read_csv(url)

In [232]:
df_population = df[(df['ages'] == 'total') & (df['year'] == 2012)]

In [233]:
print(df_population)

     state/region   ages  year   population
1              AL  total  2012    4817528.0
95             AK  total  2012     730307.0
97             AZ  total  2012    6551149.0
191            AR  total  2012    2949828.0
193            CA  total  2012   37999878.0
287            CO  total  2012    5189458.0
289            CT  total  2012    3591765.0
383            DE  total  2012     917053.0
385            DC  total  2012     633427.0
479            FL  total  2012   19320749.0
480            GA  total  2012    9915646.0
575            HI  total  2012    1390090.0
576            ID  total  2012    1595590.0
671            IL  total  2012   12868192.0
672            IN  total  2012    6537782.0
767            IA  total  2012    3075039.0
768            KS  total  2012    2885398.0
863            KY  total  2012    4379730.0
864            LA  total  2012    4602134.0
959            ME  total  2012    1328501.0
960            MD  total  2012    5884868.0
1055           MA  total  2012    6645303.0
1056           MI  total  2012    9882519.0
1151           MN  total  2012    5379646.0
1152           MS  total  2012    2986450.0
1247           MO  total  2012    6024522.0
1248           MT  total  2012    1005494.0
1343           NE  total  2012    1855350.0
1344           NV  total  2012    2754354.0
1439           NH  total  2012    1321617.0
1440           NJ  total  2012    8867749.0
1535           NM  total  2012    2083540.0
1536           NY  total  2012   19576125.0
1631           NC  total  2012    9748364.0
1632           ND  total  2012     701345.0
1727           OH  total  2012   11553031.0
1728           OK  total  2012    3815780.0
1823           OR  total  2012    3899801.0
1824           PA  total  2012   12764475.0
1919           RI  total  2012    1050304.0
1920           SC  total  2012    4723417.0
2015           SD  total  2012     834047.0
2016           TN  total  2012    6454914.0
2111           TX  total  2012   26060796.0
2112           UT  total  2012    2854871.0
2207           VT  total  2012     625953.0
2208           VA  total  2012    8186628.0
2303           WA  total  2012    6895318.0
2304           WV  total  2012    1856680.0
2399           WI  total  2012    5724554.0
2400           WY  total  2012     576626.0
2495           PR  total  2012    3651545.0
2543          USA  total  2012  313873685.0

In [234]:
df_area.columns = ['state', 'area_sq_mi']
df_population_2012 = df_population[(df_population['ages'] == 'total') & (df_population['year'] == 2012)]
df_merged = pd.merge(df_population_2012, df_area, left_on='state/region', right_on='state')
df_merged['population_density'] = df_merged['population'] / df_merged['area_sq_mi']

In [235]:
state_max_density = df_merged[df_merged['state/region'] != 'PR']
max_density_state = state_max_density.loc[state_max_density['population_density'].idxmax()]

In [236]:
territory_max_density = df_merged[df_merged['state/region'] == 'PR']
max_density_territory = territory_max_density.loc[territory_max_density['population_density'].idxmax()]

In [237]:
pop_density = df_merged[df_merged['state/region'] != 'PR']['population_density'].mean()

In [240]:
total_population_density = df_merged['population_density'].mean()

In [241]:
print(f"highest population density: {max_density_state['state/region']} with density {max_density_state['population_density']:.2f} people per square mile")

highest population density: DC with density 9315.10 people per square mile

In [242]:
print(f"highest population density: {max_density_territory['state/region']} with density {max_density_territory['population_density']:.2f} people per square mile")

highest population density: PR with density 1038.85 people per square mile

In [243]:
print(f"mean population density in 2012: {pop_density:.2f} people per square mile")

mean population density in 2012: 347.54 people per square mile

In [244]:
print(f"Mean population density and territories in 2012: {total_population_density:.2f} people per square mile")

Mean population density and territories in 2012: 360.84 people per square mile

---

### Problem 2

Using the `array_from_url` function, load the following two data sets into memory using the variable names provided:

- variable: `titanid`
    - URL: `"https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"`
    - column: `"age"`



Answer the following questions:

- What are the minimum, maximum, and mean ages of the following types of passengers on the Titanic?
    - All passengers
    - Survivors 
    - Those that died
- What are the percentage of male passengers that died?
- What are the percentage of female passengers that died?

---

### Problem 3

Define the following function:

```python
def titanic_structured():
    import pandas as pd, numpy as np
    data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
    cols = ['survived', 'pclass', 'sex', 'age', 'fare']
    sarray = np.zeros(len(data), dtype={'names':cols,'formats':('i4','i4','U10','f8','f8')})
    sarray['survived'] = data.Survived
    sarray['pclass'] = data.Pclass
    sarray['sex'] = data.Sex
    sarray['age'] = data.Age
    sarray['fare'] = data.Fare
    return sarray
```

Assign the output of this function to a new variable `titanic_new`, and answer the following questions:

- What is the average age of men that survived?
- What is the average age of women that survived?
- What is the [mode](https://www.mathsisfun.com/definitions/mode.html) of the class of survivors?
- What is the mode of the class of those that died?